@model Aspnetmvcapp.Customer

 <form >
         <div class="form-group">
            <div class="col-md-5">
                <label asp-for="Id">Id:</label>           
                <label>@Model.Id</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name">Name:</label>
           <label>@Model.Name</label>
        </div>
        <div class="form-group">
            <label asp-for="EmailAddress">EmailAddress:</label>
           <label>@Model.EmailAddress</label>
        </div>
        <div class="form-group">
            <label asp-for="Salary">Salary:</label>
            <label>@Model.Salary</label>
        </div>
        
    </form>  
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    