@model IEnumerable<Aspmvcadoapp.Customer>
@{
    ViewData["Title"] = "Index";
}
<div>
    <div><a asp-action="Create" asp-controller="Customer">Create New Customer</a></div>
</div>
<div>
    Customer Count:@ViewBag.CustomerCount
</div>
 <table class="table">
        <tr>
            <th>
                <label >Id</label>
               @* @Html.DisplayNameFor(model => model.Id)*@
            </th>
            <th>
                <label>Name</label>
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                <label>EmailAddress</label>
                @*@Html.DisplayNameFor(model => model.EmailAddress)*@
            </th>
            <th>
                <label>Salary</label>
                @*@Html.DisplayNameFor(model => model.Salary)*@
            </th>            
        </tr>
   
        @foreach (var item in Model)
        {
          <tr>
              <td>
                  <label >@item.Id</label>
                  @*@Html.DisplayFor(modelItem => item.Id)*@
              </td>
              <td>
                  <label >@item.Name</label>
               @*   @Html.DisplayFor(modelItem => item.Name)*@
              </td>
              <td>
                  <label >@item.EmailAddress</label>
                @*  @Html.DisplayFor(modelItem => item.EmailAddress)*@
              </td>
              <td>
                  <label >@item.Salary</label>
                @*  @Html.DisplayFor(modelItem => item.Salary)*@
              </td>           
          </tr>
        }
</table>        